.hero-logo-circle{
  position:absolute;
  margin: 25px 0 0 130px ;
  animation:hero-logo-circle 1s linear infinite;
  will-change:transform;
}
.hero-logo-circle:nth-child(1){animation-duration:30s}
.hero-logo-circle:nth-child(2){animation-duration:40s}
.hero-logo-circle:nth-child(3){animation-duration:50s}
.hero-logo-circle:nth-child(4){animation-duration:60s}
.hero-logo-circle:nth-child(5){animation-duration:70s}
.hero-logo-circle:nth-child(6){animation-duration:80s}
.hero-logo-circle:nth-child(7){animation-duration:90s}
.hero-logo-circle:nth-child(8){animation-duration:100s}
.hero-logo-circle:nth-child(9){animation-duration:110s}
.hero-logo-circle:nth-child(10){animation-duration:120s}
@keyframes hero-logo-circle{100%{transform:rotate(1turn)}}

/* IMAGEM SUBINDO e DESCENDO */
.hero-octonaut{
  position:absolute;
  animation:hero-octonaut 2s alternate ease-in-out infinite;
  will-change:transform;-webkit-user-select:none;user-select:none
}
@keyframes hero-octonaut{0%{transform:translateY(-8px)}100%{transform:translateY(8px)}}
