/*
CORES PADRÂO
4CAF50 -> verde
1e88e5 -> azul
263238 -> preto
#ee6e73 -> vermelho materialize
#84c7c1 -> azul
#26a69a -> verde
#DA8508 -> amarelo
*/

#pnImgInicio{
  background:url(../images/laptop.svg) no-repeat;

}

.rodape {
    position:fixed;
    bottom:0;
    width:100%;
    height:4%;
    background: #263238 ;
    text-align: right;
}

rodapecolor{
  color: #fff;
  font-size: 14px;
}

/* LOGO + CIRCULOS ATOM*/
#logodz{
    position:absolute;
    margin: 165px 0 0 137px ;
  }

/*--------MUDAR DE COR--------------------------------------------------*/
.section {
	padding-top: 40px;
	font-size: 1em;
	text-align: center;
	background: #f1ede3;
	width: ;
	height: ;
	color: #555;
	-webkit-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
}
.night .section {
	background: #080d17;
  color: #e9e5d5;
}
.night #intro-text {
	color: #e9e5d5;
}
.night .time-circle{
  background: linear-gradient(to bottom, #111936, #285A7B);
  border-color: #e9e5d5;
}
#switch,
#circle {
  height: 30px;
  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
#switch {
  width: 60px;
  margin: 0 auto;
  border: 2px solid #DA8508;
  border-radius: 27px;
  background: #DA8508;
  position: relative;
}
#circle {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #e9e5d5;
}
.switched {
  border-color: #1C3958 !important;
  background: #1C3958 !important;
}
.switched #circle {
  margin-left: 55%;
  background: #fafafa;
}
