
/*CORES PADRÂO
4CAF50 -> verde
1e88e5 -> azul
263238 -> preto
ee6e73 -> vermelho materialize*/

/*inicio personalizaçao scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/*Fundo da barra de rolagem*/ 
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/*Cor do indicador de rolagem*/ 
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4;
    /*border-radius: 10px;*/
}

/*Cor do indicador de rolagem - ao passar o mouse*/ 
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
}
/*fim personalizaçao scrollbar*/
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track:enabled { background-color: #FFF; }
::-webkit-scrollbar-thumb:vertical { background-color: #263238; }
::-webkit-scrollbar-thumb:horizontal { background-color: #FF0000; }

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(circle at top, #f9f9f9, #9f9f9f);
}



#pnImgInicio{
    background:url(../images/laptop.svg) no-repeat;

}

.rodape {
    position:fixed;
    bottom:0;
    width:100%;
    height:4%;
    background: #263238 ;
    text-align: right;
}

rodapecolor{
    color: #fff;
    font-size: 14px;
}

/*/* LOGO + CIRCULOS ATOM
#logodz{
position:absolute;
margin: 165px 0 0 137px ;
}*/


